# SQLite

Beispiel mit SQLite, ohne Server

In [1]:
%load_ext sql
%sql sqlite://

ImportError: No module named 'sql'

In [2]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

Done.
1 rows affected.
1 rows affected.

[]

In [3]:
%sql select * from writer

Done.

[(u'William', u'Shakespeare', 1616), (u'Bertold', u'Brecht', 1956)]

#Mit MySQL

Voraussetzung, der MySQL Server läuft!

In [6]:
%sql mysql://tester:test@localhost/test_db

u'Connected: tester@test_db'

In [37]:
%%sql
CREATE TABLE `test_db`.`writer` (`first_name` VARCHAR(30) NOT NULL,`last_name` VARCHAR(45) NULL,
                                 `year_of_death` DATETIME NULL, PRIMARY KEY (`first_name`));

0 rows affected.

[]

In [38]:
%%sql
INSERT INTO writer VALUES ('William', 'Shakespeare', '1616-01-01 00:00');
INSERT INTO writer VALUES ('Bertold', 'Brecht', '1956-01-01 00:00');

1 rows affected.
1 rows affected.

[]

In [39]:
%sql select * from `test_db`.`writer`;

2 rows affected.

[('Bertold', 'Brecht', datetime.datetime(1956, 1, 1, 0, 0)),
 ('William', 'Shakespeare', datetime.datetime(1616, 1, 1, 0, 0))]

In [15]:
%sql DROP TABLE `test_db`.`writer`

(_mysql_exceptions.OperationalError) (1142, "DROP command denied to user 'tester'@'localhost' for table 'writer'") [SQL: u'DROP TABLE `test_db`.`writer`']

#MongoDB

Verbindung herstellen

In [4]:
import pymongo

# Connection to Mongo DB
try:
    conn=pymongo.MongoClient()
    print ("Connected successfully!!!")
except (pymongo.errors.ConnectionFailure, e):
   print ("Could not connect to MongoDB: %s" % e )
conn

ImportError: No module named 'pymongo'

Nun mal etwas rumprobieren:

In [19]:
db = conn.mydb
collection = db.my_collection
doc1 = {"first_name":"William","last_name":"Shakespeare","year_of_death":"1616"}
doc2 = {"first_name":"Bertold","last_name":"Brecht","year_of_death":"1956"}
collection.insert(doc1)
collection.insert(doc2)

ObjectId('558bae2c95babe19ea30fca5')

In [20]:
conn.database_names()

[u'mydb', u'local']

In [21]:
db.collection_names()

[u'system.indexes', u'my_collection']

In [22]:
collection.find_one()

{u'_id': ObjectId('558bae2c95babe19ea30fca4'),
 u'first_name': u'William',
 u'last_name': u'Shakespeare',
 u'year_of_death': u'1616'}

In [23]:
list(collection.find())[:2]

[{u'_id': ObjectId('558bae2c95babe19ea30fca4'),
  u'first_name': u'William',
  u'last_name': u'Shakespeare',
  u'year_of_death': u'1616'},
 {u'_id': ObjectId('558bae2c95babe19ea30fca5'),
  u'first_name': u'Bertold',
  u'last_name': u'Brecht',
  u'year_of_death': u'1956'}]

In [27]:
collection.find({'year_of_death':'1956'}).count()

1

# Redis

In [5]:
import redis
r = redis.StrictRedis(host='localhost', port=6379, db=0)

ImportError: No module named 'redis'

In [41]:
r.set('William Shakespeare', '1616')
r.set('Bertold Brecht', '1956')

True

In [43]:
import pickle

In [47]:
class PicklePerson(object):
    def __init__(self, first_name, last_name, year_of_death):
        self.first_name = first_name
        self.last_name = last_name
        self.year_of_death = year_of_death
    
    def __repr__(self):
        return "Name: " + self.first_name + " " + self.last_name + \
            "\n" + "Death: " + self.year_of_death

In [48]:
bob = pickle.dumps(PicklePerson("William","Shakespeare","1616"))
bert = pickle.dumps(PicklePerson("Bertold","Brecht","1956"))
r.set("bob", bob)
r.set("bert", bert)

True

In [49]:
pickle.loads(r.get("bob"))

Name: William Shakespeare
Death: 1616

r.get('1616')

In [50]:
print(r)

StrictRedis<ConnectionPool<Connection<host=localhost,port=6379,db=0>>>